<ion-header parallax maximumHeight="140">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-fab horizontal="end" class="fab-button-top" vertical="top" slot="fixed">
    <ion-fab-button size="small" color="primary" (click)="pesquisarMeusProdutos()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <app-card-produto *ngFor="let produto of (produtos$ | async)" 
                    (addItem)="adicionarProdutoCarrinho($event)"
                    [produto]="produto">
  </app-card-produto>

</ion-content>