<ion-content class="login">
  <img class="logo" src="assets/images/logo-speciale-new.png">

  <form [formGroup]="loginForm">
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Usuário:</ion-label>
          <ion-input inputmode="text" formControlName="login"></ion-input>
        </ion-item>
        <div class="form-field-invalido" *ngIf="loginForm.get('login').hasError('required') && 
        loginForm.get('login').touched ">
          Usuário é obrigatório
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Senha:</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
        <div class="form-field-invalido" *ngIf="loginForm.get('senha').hasError('required') && 
        loginForm.get('senha').touched ">
          Senha é obrigatório
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-button color="primary" (click)="onLogin()" class="login-btn"  [disabled]="!loginForm.valid">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 30px;">
      <ion-col col-12>
        <ion-button color="dark" expand="full" fill="clear" (click)="abrirEsqueceuSenha()" >Esqueceu Senha</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>