ion-card {
  ion-card-header {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(0deg, #d7d8da00, #e4c57452);
    height: auto;
    padding-top: 0px;
    padding-bottom: 15px;
    
    ion-card-title {
      color: var(--ion-color-primary);
      font-size: 20px;
      font-weight: initial;
      h2 {
        font-weight: initial;
      }
    }
  }

  ion-list {
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    ion-item-divider {
      ion-label {
        h2 {
          color: var(--ion-color-primary);
          font-size: 17px;
          font-weight: initial;
        }
      }
    }

    ion-item {
      ion-label {
        h6 {
          font-size: 13px !important;
          // color: ;
        }
        p {
          font-size: 11px !important;
        }
      }
    }
  }

  p {
    white-space: pre-line !important;
  }

  .menu-acao-pedido {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    ion-col {
      padding-top: 0px !important;
      padding-bottom: 0px !important;

      ion-button {
        display: flex;
      }
    }
  }

  ion-card-content {
    padding-top: 10px !important;
    padding-bottom: 5px !important;

    .align-left {
      float: left;
    }

    .align-right {
      float: right;
    }
  }
}
