<ion-card mode="ios" class="card-form" *ngIf="pedido?.idPedido">

    <ion-card-header>
        <ion-card-title>
            <h2>Protocolo: {{pedido?.idPedido}}</h2>
        </ion-card-title>
    </ion-card-header>

    <ion-item>
        <ion-label>
            <h6>Data da Produção</h6>
            <p>{{pedido?.dataPedido | date:'dd/MM/yyyy':'UTC+0'}}</p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            <h6>Cadastrado por</h6>
            <p>{{pedido?.usuarioCadastro?.nome}}</p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            <h6>Situação</h6>
            <p>{{pedido?.flgAtivo | pedidoSituacao}}</p>
        </ion-label>
    </ion-item>
    <ion-item *ngIf="pedido?.observacao">
        <ion-label>
            <h6>Observação</h6>
            <p>{{pedido?.observacao}}</p>
        </ion-label>
    </ion-item>


    <ion-list style="margin-top: 20px;margin-bottom: 20px;">
        <ion-item-divider>
            <ion-label>
                <h2>Produtos do Pedido</h2>
            </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let produto of pedido?.produtos" [hidden]="produto.flgAtivo === 'N'">
            <ion-label>
                <h6>{{produto?.desProduto}}</h6>
                <p>Qtd Solicitada: {{produto?.qtdSolicitada}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-row class='menu-acao-pedido'>
        <ion-col>
            <ion-button color="danger" expande="full" size='small' (click)="inativarEvent(pedido)">Inativar</ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="primary" size='small' (click)="editarEvent(pedido)">Editar</ion-button>
        </ion-col>
    </ion-row>

</ion-card>