<ion-content>

  <app-page-header titulo="Meu Carrinho" info="Lista os itens selecionados para pedido"></app-page-header>

  <div class="card-form" [hidden]="(carrinho$ | async).totalItens === 0">

    <form [formGroup]="carrinhoForm">

      <ion-grid>

        <ion-row>
          <ion-col col-4>
            <ion-label>
              Data Pedido:
            </ion-label>
          </ion-col>
          <ion-col col-8>
            <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" formControlName="dataPedido">
            </ion-datetime>
          </ion-col>
        </ion-row>

      </ion-grid>

    </form>

  </div>

  <app-card-item *ngFor="let item of (carrinho$ | async).itens" (removerItem)="removerItemCarrinho($event)"
    [item]="item">
  </app-card-item>

  <ion-footer *ngIf="(carrinho$ | async).totalItens > 0">

    <ion-row>
    
      <ion-col col-12>
        <ion-button class="card-form-btn"  (click)="registrarPedido()"
          [disabled]="(carrinho$ | async).totalItens === 0">Fazer Pedido</ion-button>
      </ion-col>
    
    </ion-row>

  </ion-footer>

</ion-content>