/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header-md:after {
  background-image: none !important;
}

.color1 {
  color: #9b592a;
}

.color2 {
  color: #ff8801;
}

.color3 {
  color: #e1be64;
}

.color4 {
  color: #a2a2a2;
}

.negrito {
  font-weight: bold !important;
}

.fz-12 {
  font-size: 12px !important;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

app-card-produto ion-card:first-child {
  margin-top: -60px;
  margin-bottom: 80px;
}

app-card-item ion-card:first-child {
  margin-top: -60px;
  margin-bottom: 80px;
}
