ion-content {

  ion-button {
    width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    // margin-top: 15px;
  }

  .card-form {
    background-color: #fbf7ec;
    // padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    overflow: hidden;
    left: 2.5%;
    right: 2.5%;
    position: unset;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -75px;
    border-radius: 20px;

    form {
      
      ion-label{
        width: 95%;
        color: #744e3f;
        font-size: 15px;
        margin-left: 10%;
        position: absolute;
        padding-top: 10px;
      }

      ion-datetime {
        background-color: #dcb36838;
        width: 95%;
        display: block;
        border-radius: 5px;
        color: #744e3f;
        font-size: 15px;
        --padding-start: 16px;
      }

      .card-form-field-invalido {
        margin: 0 auto;
        padding-bottom: 5px;
        width: 95%;

        ion-col {
          color: red;
          font-size: 12px;
        }
      }
    }
  }
}
