<ion-content [fullscreen]="true">

  <app-page-header titulo="Pedidos" info="Pesquisa de pedidos">
  </app-page-header>

  <form [formGroup]="pedidosPesquisaForm" style="margin-top: -60px;">

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label position="stacked">Data Pedido</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" formControlName="dataPedido">
          </ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-button color="primary" expand="full" (click)="pesquisarPedidos()">Pesquisar</ion-button>
      </ion-col>
    </ion-row>

  </form>

  <app-card-pedido [pedido]="pedido"></app-card-pedido>

  <ion-footer *ngIf="pedido">

    <ion-row>
      <ion-col col-12>
        <ion-button color="danger" expand="full" (click)="inativarPedidoConfirmacao()">Inativar Pedido</ion-button>
      </ion-col>
    </ion-row>

  </ion-footer>

</ion-content>