<ion-content>

  <app-page-header titulo="Pedidos" info="Pesquise seus pedidos pela data do pedido">
  </app-page-header>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button size="small" color="primary" (click)="pesquisarPedidos()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="card-form">

    <form [formGroup]="pedidosPesquisaForm">

      <ion-grid>

        <ion-row>
          <ion-col col-4>
            <ion-label>
              Data Pedido:
            </ion-label>
          </ion-col>
          <ion-col col-8>
            <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" formControlName="dataPedido">
            </ion-datetime>
          </ion-col>
        </ion-row>

      </ion-grid>

    </form>

  </div>

  <app-card-pedido [pedido]="pedido"></app-card-pedido>

  <ion-footer *ngIf="pedido">

    <ion-row>
      <ion-col col-12>
        <ion-button color="danger" class="card-form-btn" (click)="inativarPedidoConfirmacao()">Inativar Pedido</ion-button>
      </ion-col>
    </ion-row>

  </ion-footer>

</ion-content>