ion-content {
  position: relative;
  height: 100%;
  width: 100%;

  .card {
    margin: 0 auto;

    .header {
      height: 200px; // 20vh;
      background: url("/assets/images/bg-login.jpg") fixed;

      .avatar {
        width: 160px; //40vw
        height: 160px;
        position: relative;
        margin: 0 auto;

        img {
          display: block;
          border-radius: 50%;
          position: absolute;
          bottom: calc(-1 * (80px + 4px)); // -42px;
          border: 8px solid #e6daad;
          background-color: #fff;
        }
      }
    }

    .card-body {
      transition: all 0.2s ease-in-out;
      background: linear-gradient(0deg, #f5f6f900, #bf8358c4);
      padding: 30px;
      height: calc(100vh - (200px + 56px));
      overflow: auto;

      ion-button {
        width: 95%;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 15px;
      }

      .user-meta {
        padding-top: 20px;

        .name {
          font-size: 2em;
          margin-bottom: 10px;
          color: #884e25;
        }

        .info {
          font-size: 15px;
          text-align: center;
          color: #00000069;
          text-transform: lowercase;
          margin: 0 auto;
        }
      }
    }
  }
}
