<ion-header>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="card">

    <div class="header">

      <div class="avatar">
        <img src="assets/images/profile.png" alt="">
      </div>

    </div>

    <div class="card-body">

      <div class="user-meta ion-text-center">
        <h3 class="name">{{usuario.login}}</h3>
        <h6 class="info">{{usuario.email}}</h6>
      </div>

      <ion-row class='menu-acao'>
        <ion-col>
          <ion-button color="primary" expande="full" size='small' (click)="showAlterarSenha()">Alterar Senha</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" size='small' (click)="logout()">Sair</ion-button>
        </ion-col>
      </ion-row>

    </div>

  </div>

</ion-content>