ion-card:first-child {
  margin-top: -60px;
}

.obs-field{
  padding-left: 15px;
  padding-right: 15px;
}

ion-card {
  ion-card-header {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(0deg, #d7d8da00, #e4c57452);
    height: auto;
    padding-bottom: 40px;
    

    ion-card-title {
      color: var(--ion-color-primary);
      font-size: 20px;
      font-weight: initial;
    }
  }

  ion-list {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    ion-item {
      ion-label {
        font-size: 13px;
        color: var(--ion-color-medium);
      }
      ion-badge {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #6c6c6c;
        background: #eeeeee;
      }
    }
  }

  ion-card-content {
    padding-top: 15px !important;
    padding-bottom: 5px !important;

    ion-label {
      h2 {
        color: #ff8801;
        margin-top: 0;
        font-size: 16px !important;
        margin-bottom: 0.5em !important;
      }
      p {
        color: #a2a2a2 !important;
        font-size: 11px !important;
        margin-bottom: 4px !important;
      }
    }

    div.card-separator {
      margin-bottom: 10px;
      display: flex;
      height: 1px;
      position: relative;
      top: 0.45em;
      background-color: #ebddd3;
    }

    ion-button {
      margin-top: 0px !important;
    }

    .align-left {
      float: left;
    }

    .align-right {
      float: right;
    }
  }
}
